<p id="notice"><%= notice %></p>

<%= @cart.each do |id , quantity| %>
<% product = Product.find_by_id[id] %>
	<%= product.name %>
<% end %>
 
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
