 <div class="form-products">
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="input-group ">
    <span class="input-group-addon" id="basic-addon1"><%= f.label :name %></span>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Name" %>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">$</span>
    <%= f.number_field :price, :class => "form-control", :placeholder => "Price" %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %>
    <%# f.number_field :category_id %>
    <select class="form-control" id="sel1">
    <% @categories = Category.all %>
    <%= @categories.each do |cat| %>
        <option value="<%= cat.id %>"><%= cat.name %></option>
    <% end %>
      </select>
  </div>
  <div class="input-group">
    <%# f.label :amount %><br>
    <%# f.number_field :amount %>
  </div>
  <div class="form-group">
    <%= f.text_area :info, :class => "form-control", placeholder: "Info", rows:  "8"  %>
  </div>
  <div class="actions">
    <%= f.submit nil , :class => "btn btn-success" %>
    <%= link_to 'Back', products_path, :class => "btn btn-default" %>
  </div>
<% end %>
</div>
