<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
   <div class="show-products"> 
		<p>
		  <strong>Name:</strong>
		  <%= @product.name %>
		</p>

		<p>
		  <strong>Price:</strong>
		  <%= sprintf("$%0.02f", @product.price) %>
		</p>

		<p>
		  <strong>Category:</strong>
		  <%= Category.find(@product.category_id).name %>
		</p>

		<p>
		  <strong>Info:</strong>
		  <%= @product.info %>
		</p>

		<%= link_to 'Edit', edit_product_path(@product), :class => "btn btn-warning"%> |
		<%= link_to 'Back', products_path,:class => "btn btn-default" %>
	</div>
	</div>
</div>